@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-fade-in {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;
}

.animate-fade-out {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}

@keyframes animate-fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes animate-fade-out {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@media screen and (prefers-reduced-motion: reduce) {
  .animate { animation: none !important; }
}