@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-fade-in {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;
}

.animate-fade-out {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}

@keyframes animate-fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes animate-fade-out {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@media screen and (prefers-reduced-motion: reduce) {
  .animate { animation: none !important; }
}

.sidebar a, footer a, .breadcrumbs a {
  @apply hover:dark:text-indigo-500 hover:text-indigo-700 transition-colors duration-150;
}

nav a {
  @apply hover:text-indigo-500 transition-colors duration-150;
}

article img {
  @apply mx-auto;
}