@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-fade-in {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;
}

.animate-fade-out {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}

@keyframes animate-fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes animate-fade-out {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@media screen and (prefers-reduced-motion: reduce) {
  .animate { animation: none !important; }
}

.sidebar a, footer a, .breadcrumbs a {
  @apply hover:dark:text-blue-500 hover:text-blue-800 transition-colors duration-150;
}

nav a {
  @apply hover:text-blue-500 transition-colors duration-150;
}

article img {
  @apply mx-auto;
}

figcaption {
  @apply mt-2 text-sm text-center text-gray-600 dark:text-gray-400;
}

figcaption a {
  @apply underline;
}

p {
  @apply leading-normal;
}